<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Simulate newincrementalgame</title>
  <link type="text/css" rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/katex.min.css"
    integrity="sha384-zTROYFVGOfTw7JV7KUu8udsvW2fx4lWOsCEDqhBreBwlHI4ioVRtmIvEThzJHGET" crossorigin="anonymous">

  <link type="text/css" rel="stylesheet" href="nig_sim.css" />
</head>

<body>
  <div id="app" class="container">

    <div id="controlButtons" class="btn-group flex-wrap" role="group" aria-label="control buttons">
      <button type="button" class="btn btn-outline-dark" @click="importsave()">データ取り込み</button>

      <input type="checkbox" class="btn-check" id="basicInfoB" autocomplete="off">
      <label class="btn btn-outline-dark" for="basicInfoB" data-bs-toggle="collapse" data-bs-target="#basicInfo"
        aria-expanded="false" aria-controls="basicInfo">基本</label>

      <input type="checkbox" class="btn-check" id="gaboughtB" autocomplete="off">
      <label class="btn btn-outline-dark" for="gaboughtB" data-bs-toggle="collapse" data-bs-target="#gabought"
        aria-expanded="false" aria-controls="gabought">器</label>

      <input type="checkbox" class="btn-check" id="dboughtB" autocomplete="off">
      <label class="btn btn-outline-dark" for="dboughtB" data-bs-toggle="collapse" data-bs-target="#dbought"
        aria-expanded="false" aria-controls="dbought"
        v-if="nig.player.money.gte('1e100') || nig.player.darkmoney.gt(0) || nig.player.darkgenerators.some(d => d.gt(0))">裏</label>

      <input type="checkbox" class="btn-check" id="timeInfoB" autocomplete="off">
      <label class="btn btn-outline-dark" for="timeInfoB" data-bs-toggle="collapse" data-bs-target="#timeInfo"
        aria-expanded="false" aria-controls="timeInfo" v-if="nig.player.accelevel>0">時</label>

      <input type="checkbox" class="btn-check" id="levelInfoB" autocomplete="off">
      <label class="btn btn-outline-dark" for="levelInfoB" data-bs-toggle="collapse" data-bs-target="#levelInfo"
        aria-expanded="false" aria-controls="levelInfo"
        v-if="nig.player.levelresettime.gt(0) || nig.player.rankresettime.gt(0) || nig.player.crownresettime.gt(0)">段位</label>

      <input type="checkbox" class="btn-check" id="rankInfoB" autocomplete="off">
      <label class="btn btn-outline-dark" for="rankInfoB" data-bs-toggle="collapse" data-bs-target="#rankInfo"
        aria-expanded="false" aria-controls="rankInfo" v-if="nig.player.rankresettime.gt(0) || nig.player.crownresettime.gt(0)">階位</label>

      <input type="checkbox" class="btn-check" id="shineInfoB" autocomplete="off">
      <label class="btn btn-outline-dark" for="shineInfoB" data-bs-toggle="collapse" data-bs-target="#shineInfo"
        aria-expanded="false" aria-controls="shineInfo" v-if="nig.player.challengecleared.length >= 64">輝き</label>

      <input type="checkbox" class="btn-check" id="worldInfoB" autocomplete="off">
      <label class="btn btn-outline-dark" for="worldInfoB" data-bs-toggle="collapse" data-bs-target="#worldInfo"
        aria-expanded="false" aria-controls="worldInfo" v-if="nig.worldopened.slice(1).some(b => b)">世界</label>

      <input type="checkbox" class="btn-check" id="chipInfoB" autocomplete="off">
      <label class="btn btn-outline-dark" for="chipInfoB" data-bs-toggle="collapse" data-bs-target="#chipInfo"
        aria-expanded="false" aria-controls="chipInfo" v-if="nig.player.smalltrophies[5]">鋳片</label>

      <input type="checkbox" class="btn-check" id="trophyInfoB" autocomplete="off">
      <label class="btn btn-outline-dark" for="trophyInfoB" data-bs-toggle="collapse" data-bs-target="#trophyInfo"
        aria-expanded="false" aria-controls="trophyInfo">実績</label>

      <input type="checkbox" class="btn-check" id="challengeViewB" autocomplete="off">
      <label class="btn btn-outline-dark" for="challengeViewB" data-bs-toggle="collapse" data-bs-target="#challengeView"
        aria-expanded="false" aria-controls="challengeView">挑戦</label>

      <input type="checkbox" class="btn-check" id="simulatedChkpsB" autocomplete="off">
      <label class="btn btn-outline-dark" for="simulatedChkpsB" data-bs-toggle="collapse"
        data-bs-target="#simulatedChkps" aria-expanded="false" aria-controls="simulatedChkps">到達</label>

      <input type="checkbox" class="btn-check" id="gaexpressionB" autocomplete="off">
      <label class="btn btn-outline-dark" for="gaexpressionB" data-bs-toggle="collapse" data-bs-target="#gaexpression"
        aria-expanded="false" aria-controls="gaexpression">式</label>

      <input type="checkbox" class="btn-check" id="helpMessageB" autocomplete="off">
      <label class="btn btn-outline-dark" for="helpMessageB" data-bs-toggle="collapse" data-bs-target="#helpMessage"
        aria-expanded="false" aria-controls="helpMessage">？</label>
    </div>

    <div class="collapse" id="basicInfo">
      <div class="card card-body">
        <div v-if="nig.worldopened.slice(1).some(b => b)">世界: {{ nig.world+1 }}</div>
        <div id="money">ポイント: {{ formatDecimal(nig.player.money, 6) }}</div>
        <div v-if="nig.player.levelresettime.gt(0) || nig.player.rankresettime.gt(0) || nig.player.crownresettime.gt(0)">
          段位: {{ formatDecimal(nig.player.level, 6) }} 段位リセット: {{ formatDecimal(nig.player.levelresettime, 6) }}
        </div>
        <div v-if="nig.player.rankresettime.gt(0) || nig.player.crownresettime.gt(0)">
          階位: {{ formatDecimal(nig.player.rank, 6) }} 階位リセット: {{ formatDecimal(nig.player.rankresettime, 6) }}
        </div>
        <div v-if="nig.player.crownresettime.gt(0)">
          冠位: {{ formatDecimal(nig.player.crown, 6) }} 冠位リセット: {{ formatDecimal(nig.player.crownresettime, 6) }}
        </div>
        <div v-if="nig.player.levelresettime.gt(0) || nig.player.rankresettime.gt(0) || nig.player.crownresettime.gt(0)">
          最大取得段位: {{ formatDecimal(nig.player.maxlevelgained, 6) }}
        </div>
        <div v-if="nig.player.challengecleared.length>0">挑戦達成: {{ nig.player.challengecleared.length }}</div>
        <div v-if="nig.player.rankchallengecleared.length>0">階位挑戦達成: {{ nig.player.rankchallengecleared.length }}</div>
        <div v-if="nig.worldopened[1] || nig.worldopened[2]">記憶: {{ nig.memory }}</div>
        <div>里程: {{ nig.smallmemory }}</div>
        <div v-if="nig.worldopened[1] || nig.worldopened[2]">合計思い出: {{ nig.countRemembers() }}</div>
        <div v-if="nig.smallmemory>=75">世界管所持数: {{ Math.floor((nig.smallmemory-72)/3) }}</div>
      </div>
    </div>

    <div class="collapse" id="gabought">
      <table class="table table-bordered table-sm text-center" style="margin-bottom: 0px;">
        <thead>
          <tr>
            <td class="align-middle" rowspan="2"></td>
            <td class="align-middle" colspan="4">発生器</td>
            <td class="align-middle" colspan="3">時間加速器</td>
          </tr>
          <tr>
            <td class="align-middle">所持数</td>
            <td class="align-middle">購入コスト</td>
            <td class="align-middle">購入数</td>
            <td class="d-grid">
              <button type="button" class="btn btn-outline-dark btn-sm" @click="resetGeneratorMode()"
                :disabled="!nig.isGeneratorModeChangeable() || nig.player.generatorsMode.every((m, i) => m == i)">
                モード
              </button>
            </td>
            <td class="align-middle">所持数</td>
            <td class="align-middle">購入コスト</td>
            <td class="align-middle">購入数</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="i in 8" :key="i">
            <td class="align-middle">{{ i }}</td>
            <td class="align-middle">{{ nig.player.generators[i-1].toExponential(3) }}</td>
            <td class="d-grid">
              <button type="button" class="btn btn-outline-dark btn-sm" @click="buyGenerator(i-1)"
                :disabled="!nig.isGeneratorBuyable(i-1)">
                {{ nig.player.generatorsCost[i-1].toExponential(1) }}
              </button>
            </td>
            <td class="align-middle">{{ nig.player.generatorsBought[i-1].toNumber() }}</td>
            <td class="d-grid">
              <button type="button" class="btn btn-outline-dark btn-sm" @click="changeMode(i-1)"
                :disabled="!nig.isGeneratorModeChangeable()">
                {{ nig.player.generatorsMode[i-1] }}
              </button>
            </td>
            <td class="align-middle" v-if="nig.isAcceleratorOpened(i-1)">
              {{ nig.player.accelerators[i-1].toExponential(3) }}
            </td>
            <td v-else></td>
            <td class="d-grid" v-if="nig.isAcceleratorOpened(i-1)">
              <button type="button" class="btn btn-outline-dark btn-sm" @click="buyAccelerator(i-1)"
                :disabled="!nig.isAcceleratorBuyable(i-1)">
                {{ nig.player.acceleratorsCost[i-1].toExponential(1) }}
              </button>
            </td>
            <td v-else></td>
            <td class="align-middle" v-if="nig.isAcceleratorOpened(i-1)">
              {{ nig.player.acceleratorsBought[i-1].toNumber() }}
            </td>
            <td v-else></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="collapse" id="dbought">
      <table class="table table-bordered table-sm text-center" style="margin-bottom: 0px;">
        <thead>
          <tr>
            <td class="align-middle" colspan="2">裏ポイント</td>
            <td class="align-middle" colspan="2">{{ formatDecimal(nig.player.darkmoney, 6) }}</td>
          </tr>
          <tr>
            <td class="align-middle" colspan="2">裏段位</td>
            <td class="align-middle" colspan="2">{{ formatDecimal(nig.player.darklevel, 6) }}</td>
          </tr>
          <tr>
            <td class="align-middle" rowspan="2"></td>
            <td class="align-middle" colspan="3">裏発生器</td>
          </tr>
          <tr>
            <td class="align-middle">所持数</td>
            <td class="align-middle">購入コスト</td>
            <td class="align-middle">購入数</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="i in 8" :key="i">
            <td class="align-middle">{{ i }}</td>
            <td class="align-middle">{{ nig.player.darkgenerators[i-1].toExponential(3) }}</td>
            <td class="d-grid">
              <button type="button" class="btn btn-outline-dark btn-sm" @click="buyDarkGenerator(i-1)"
                :disabled="!nig.isDarkGeneratorBuyable(i-1)">
                {{ nig.player.darkgeneratorsCost[i-1].toExponential(1) }}
              </button>
            </td>
            <td class="align-middle">{{ nig.player.darkgeneratorsBought[i-1].toNumber() }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="collapse" id="timeInfo">
      <div class="card card-body">
        <div>時間回帰力: {{ nig.player.accelevel }}</div>
        <div>
          起動時間回帰力: {{ nig.player.accelevelused }}
          <button type="button" class="btn btn-outline-dark btn-sm" @click="workTime(nig.player.accelevelused-1)"
            :disabled="nig.player.accelevelused<=0">-</button>
          <button type="button" class="btn btn-outline-dark btn-sm" @click="workTime(nig.player.accelevelused+1)"
            :disabled="nig.player.accelevelused>=nig.player.accelevel">+</button>
        </div>
      </div>
    </div>

    <div class="collapse" id="levelInfo">
      <div class="card card-body">
        <div class="d-flex align-items-center flex-wrap">
          <div>挑戦</div>
          <div v-for="i in 8" :key="i" class="tooltipcell">
            <button type="button" class="btn" @click="nig.configChallenge(i-1)"
              :class="buttonselectedcls(nig.player.challenges[i-1])" :disabled="nig.player.onchallenge">
              {{ i }}
            </button>
            <span class="uptooltip">{{ itemdata.challengetext[i-1] }}</span>
          </div>
          <div class="tooltipcell">
            <button type="button" class="btn btn-outline-dark" @click="toggleChallenge"
              :disabled="nig.calcChallengeId()==0">
              {{ nig.player.onchallenge ? '挑戦放棄' : '挑戦開始' }}
            </button>
            <span v-if="nig.calcChallengeId()!=0" class="uptooltip" v-html="startChallengeMessage"></span>
          </div>
        </div>
        <div>勲章: {{ nig.player.token }}</div>
        <div class="d-flex align-items-center flex-wrap">
          <div>効力</div>
          <div v-for="i in 15" :key="i" class="tooltipcell">
            <button type="button" class="btn" @click="toggleReward(i-1)"
              :class="buttonselectedcls(nig.player.challengebonuses[i-1])" :disabled="!nig.isRewardToggleable(i-1)">
              {{ i }}
            </button>
            <span class="uptooltip">
              コスト: {{ itemdata.rewardcost[i-1] }} <br /> {{ itemdata.rewardtext[i-1] }}
            </span>
          </div>
        </div>
        <div v-if="nig.player.rankchallengecleared.length>0">大勲章: {{ nig.player.ranktoken }}</div>
        <div v-if="nig.player.rankchallengecleared.length>0" class="d-flex align-items-center flex-wrap">
          <div>上位効力</div>
          <div v-for="i in 15" :key="i" class="tooltipcell">
            <button type="button" class="btn" @click="toggleRankReward(i-1)"
              :class="buttonselectedcls(nig.player.rankchallengebonuses[i-1])"
              :disabled="!nig.isRankRewardToggleable(i-1)">
              {{ i }}
            </button>
            <span class="uptooltip">
              コスト: {{ itemdata.rewardcost[i-1] }} <br /> {{ itemdata.rankrewardtext[i-1] }}
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="collapse" id="rankInfo">
      <div class="card card-body">
        <div v-for="i in 5" :key="i">
          <span>段位効力{{ i }}{{ ' ' }}</span>
          <span class="tooltipcell">
            <button type="button" class="btn btn-outline-dark btn-sm" @click="buyLevelitems(i-1)"
              :disabled="!nig.isLevelitemBuyable(i-1)">
              購入コスト: {{ nig.calcLevelitemCost(i-1).toExponential(1) }}
            </button>
            <span class="uptooltip">
              {{ itemdata.levelitemtext[i-1] }}
            </span>
          </span>
          <span> 所持数: {{ nig.player.levelitems[i-1] }}</span>
        </div>
        <div>累計購入回数: {{ nig.player.levelitembought }}</div>
      </div>
    </div>

    <div class="collapse" id="shineInfo">
      <div class="card card-body">
        <div>
          輝き所持数: {{ nig.player.shine }}
          <span v-for="(length, i) in shinechallengelength">
            <button type="button" class="btn btn-outline-dark" v-if="nig.player.challengecleared.length >= length"
              @click="spendShine(Math.pow(10, i))" :disabled="nig.player.shine<Math.pow(10, i)">
              輝き消費: {{ Math.pow(10, i) }}
            </button>
          </span>
        </div>
        <div v-if="nig.player.rankchallengecleared.length>=32">
          煌き所持数: {{ nig.player.brightness }}
          <span v-for="(length, i) in brightnessrankchallengelength">
            <button type="button" class="btn btn-outline-dark" v-if="nig.player.rankchallengecleared.length >= length"
              @click="spendBrightness(Math.pow(10, i))" :disabled="nig.player.brightness<Math.pow(10, i)">
              煌き消費: {{ Math.pow(10, i) }}
            </button>
          </span>
        </div>
      </div>
    </div>

    <div class="collapse" id="worldInfo">
      <table class="table table-bordered table-sm text-center" style="margin-bottom: 0px;">
        <thead>
          <tr>
            <td class="align-middle"></td>
            <td class="align-middle">記憶</td>
            <td class="align-middle">思い出</td>
            <td class="align-middle">世界管</td>
            <td class="align-middle" v-for="j in 10" :key="j" v-show="nig.worldopened[j-1]">{{ j }}</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="i in 10" :key="i">
            <td class="d-grid">
              <button type="button" class="btn btn-sm" v-if="nig.worldopened[i-1]"
                :class="buttonselectedcls(nig.world == i-1)" :disabled="!nig.worldopened[i-1]"
                @click="selectWorld(i - 1)">世界{{ i }}</button>
            </td>
            <td class="align-middle">{{ nig.players[i-1].trophies.reduce((x, y) => x + (y ? 1 : 0), 0) }}</td>
            <td class="align-middle">{{ nig.players[i-1].remember }}</td>
            <td class="align-middle">{{ Math.max(0, Math.floor((nig.players[i-1].smalltrophies.reduce((x, y) => x + (y ?
              1 : 0), 0) - 72) / 3)) }}</td>
            <td class="align-middle" v-for="j in 10" :key="j" v-show="nig.worldopened[j-1]"
              :style="{ 'background-color': i==j ? 'lightgray' : 'transparent' }">
              {{ nig.players[i-1].worldpipe[j-1] ? nig.players[i-1].worldpipe[j-1] : '' }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="collapse" id="chipInfo">
      <div class="card card-body">
        <div>
          所持鋳片
          <span v-for="i in 4" :key="i">
            <span v-show="nig.player.chip[i-1]>0">
              {{ ' ' }} {{ itemdata.chipname[i-1] }}: {{ nig.player.chip[i-1] }}
            </span>
          </span>
        </div>
        <div>
          コスト
          <span v-for="i in 4" :key="i">
            <span v-show="nig.player.chip[i-1]>0">
              {{ ' ' }} {{ itemdata.chipname[i-1] }}: {{ nig.chipused[i-1]+1 }}
            </span>
          </span>
        </div>
        <div class="d-flex align-items-center flex-wrap">
          鋳片効力
          <div v-for="i in 52" :key="i" class="tooltipcell">
            <span v-if="i<=32||nig.countRemembers()>=16">
              <button type="button" class="btn btn-outline-dark" :style="chipcoloredbuttoncls(nig.player.setchip[i-1])"
                @click="toggleChip(i-1)">{{ i }} {{ nig.player.setchip[i-1]==0 ? '　' :
                itemdata.chipname[nig.player.setchip[i-1]-1].slice(0, -1) }}</button>
              <span class="uptooltip">{{ itemdata.chipbonusname[i-1] }}</span>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="collapse" id="trophyInfo">
      <div class="card card-body">
        <div>
          実績
          <table class="table-bordered table-sm">
            <tbody>
              <tr>
                <td v-for="i in 8" :key="i">
                  <span>{{ nig.player.trophies[i-1] ? itemdata.trophytext[i-1] : '???' }}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          里程: {{ nig.smallmemory }}
          <table class="table-bordered table-sm">
            <tbody>
              <tr v-for="i in 10" :key="i">
                <td v-for="j in 10" :key="j" class="tooltipcell">
                  <span>{{ nig.player.smalltrophies[i*10+j-11] ? (i-1)*10+j : '　' }}</span>
                  <span class="uptooltip" v-if="spoiler">
                    {{ itemdata.smalltrophytext[i*10+j-11] }}
                  </span>
                </td>
              </tr>
              <tr v-for="i in 2" :key="i" v-if="nig.player.crownresettime.gt(0)">
                <td v-for="j in 10" :key="j" class="tooltipcell">
                  <span>{{ nig.player.smalltrophies2nd[i*10+j-11] ? 100+(i-1)*10+j : '　' }}</span>
                  <span class="uptooltip" v-if="spoiler">
                    {{ itemdata.smalltrophytext[100+i*10+j-11] }}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="collapse card card-body" id="challengeView">
      <div>
        <div class="form-check form-check-inline">
          <input type="checkbox" class="form-check-input" id="hideclearedchallenge" v-model="hideclearedchallenge">
          <label class="form-check-label" for="hideclearedchallenge">クリア済を非表示</label>
        </div>
        <div class="form-check form-check-inline">
          <input type="checkbox" class="form-check-input" id="hidechallengecolor" v-model="hidechallengecolor">
          <label class="form-check-label" for="hidechallengecolor">クリア時間を非表示</label>
        </div>
        <div class="form-check form-check-inline">
          <input type="checkbox" class="form-check-input" id="showtickminimum" v-model="showtickminimum">
          <label class="form-check-label" for="showtickminimum">最小tickを表示（デフォルト：最小時間）</label>
        </div>
      </div>
      <div>
        <div class="form-check form-check-inline" v-if="nig.player.challengecleared.length>0">
          <input type="checkbox" class="form-check-input" id="searchChallengeBonuses"
            v-model="challengeConfig.searchChallengeBonuses">
          <label class="form-check-label" for="searchChallengeBonuses">効力探索</label>
        </div>
        <div class="form-check form-check-inline" v-if="nig.player.rankchallengecleared.length>0">
          <input type="checkbox" class="form-check-input" id="searchRankChallengeBonuses"
            v-model="challengeConfig.searchRankChallengeBonuses">
          <label class="form-check-label" for="searchRankChallengeBonuses">上位効力探索</label>
        </div>
        <div class="form-check form-check-inline" v-if="nig.player.challengecleared.length>0">
          <input type="checkbox" class="form-check-input" id="toggleBonuses" v-model="challengeConfig.toggleBonuses">
          <label class="form-check-label" for="toggleBonuses">リセット時効力切り替え</label>
        </div>
      </div>
      <nav>
        <div class="nav nav-tabs" id="challengeTab" role="tablist">
          <a class="nav-link active" id="challengePanelTab" data-bs-toggle="tab" href="#challengePanel" role="tab"
            aria-controls="challengePanel" aria-selected="true">挑戦</a>
          <a class="nav-link" id="rankchallengePanelTab" data-bs-toggle="tab" href="#rankchallengePanel" role="tab"
            aria-controls="rankchallengePanel" aria-selected="true"
            v-if="nig.player.challengecleared.length>=128">階位挑戦</a>
        </div>
      </nav>
      <div class="tab-content" id="challengeTabContent"
        :class="{ showclearedchallenge: !hideclearedchallenge, hidechallengecolor: hidechallengecolor }">
        <div class="tab-pane fade show active" id="challengePanel" role="tabpanel" aria-labelledby="challengePanelTab">
          <div>
            <button type="button" class="btn btn-outline-dark" @click="simulatechallengesall(false)">シミュレート</button>
            ⚠重いので注意　クリックで1マスずつシミュレート
          </div>
          <table class="chaltable">
            <thead>
              <tr v-for="i in 4" :key="i">
                <th colspan="4" rowspan="4" v-if="i==1">
                  <div class="chalcell">挑戦達成: {{ nig.player.challengecleared.length }}</div>
                </th>
                <th v-for="j in 16" :key="j">
                  <div class="chalcell d-flex align-items-center justify-content-center">
                    {{ (j - 1) % (1 << i)>= (1 << i - 1) ? i : '' }}</div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="i in 16" :key="i">
                <th v-for="j in 4" :key="j">
                  <div class="chalcell  d-flex align-items-center justify-content-center">
                    {{ (i - 1) % (1 << j)>= (1 << j - 1) ? j + 4 : '' }}</div>
                </th>
                <td v-for="j in 16" :key="j">
                  <div class="chalcell" :class="challengecell(i-1,j-1)" @click="simulatechallengeone(i-1,j-1,false)">
                    <div class="chalcolor" :style="challengescolor(i-1,j-1)"></div>
                    <span class="chaltooltip" v-if="i>1||j>1" v-html="challengemessage(i-1,j-1)"></span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="chalcolorbar" v-if="showtickminimum">
            <span v-for="i in 10" :key="i" :style="scalesampletime(sampletick[i-1])">{{ sampleticklabel[i-1] }}</span>
          </div>
          <div class="chalcolorbar" v-if="!showtickminimum">
            <span v-for="i in 7" :key="i" :style="scalesampletime(sampletime[i-1])">{{ sampletimelabel[i-1] }}</span>
          </div>
        </div>
        <div class="tab-pane fade" id="rankchallengePanel" role="tabpanel" aria-labelledby="rankchallengePanelTab">
          <div>
            <button type="button" class="btn btn-outline-dark" @click="simulatechallengesall(true)">シミュレート</button>
            ⚠重いので注意　クリックで1マスずつシミュレート
          </div>
          <table class="chaltable">
            <thead>
              <tr v-for="i in 4" :key="i">
                <th colspan="4" rowspan="4" v-if="i==1">
                  <div class="chalcell">階位挑戦達成: {{ nig.player.rankchallengecleared.length }}</div>
                </th>
                <th v-for="j in 16" :key="j">
                  <div class="chalcell d-flex align-items-center justify-content-center">
                    {{ (j - 1) % (1 << i)>= (1 << i - 1) ? i : '' }}</div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="i in 16" :key="i">
                <th v-for="j in 4" :key="j">
                  <div class="chalcell d-flex align-items-center justify-content-center">
                    {{ (i - 1) % (1 << j)>= (1 << j - 1) ? j + 4 : '' }}</div>
                </th>
                <td v-for="j in 16" :key="j">
                  <div class="chalcell" :class="challengecell(i-1,j-1,true)"
                    @click="simulatechallengeone(i-1,j-1,true)">
                    <div class="chalcolor" :style="challengescolor(i-1,j-1,true)"></div>
                    <span class="chaltooltip" v-if="i>1||j>1" v-html="challengemessage(i-1,j-1,true)"></span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="chalcolorbar" v-if="showtickminimum">
            <span v-for="i in 10" :key="i" :style="scalesampletime(sampletick[i-1])">{{ sampleticklabel[i-1] }}</span>
          </div>
          <div class="chalcolorbar" v-if="!showtickminimum">
            <span v-for="i in 7" :key="i" :style="scalesampletime(sampletime[i-1])">{{ sampletimelabel[i-1] }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="collapse card" id="simulatedChkps">
      <div class="card-body">
        <div>
          <button type="button" class="btn btn-outline-dark" @click="simulatecheckpoints">シミュレート</button>
          <button type="button" class="btn" @click="autosimulatecheckpoints = !autosimulatecheckpoints;"
            :class="buttonselectedcls(autosimulatecheckpoints)">自動</button>
        </div>
        <div class="input-group">
          <select class="form-select" v-model="checkpointtarget" aria-label="checkpoint target">
            <option value="point" selected>ポイント</option>
            <option value="levelreset">段位リセット</option>
            <option value="rankreset">階位リセット</option>
            <option value="crownreset">冠位リセット</option>
          </select>
          <span class="input-group-text" v-if="checkpointtarget=='levelreset' || checkpointtarget=='rankreset' || checkpointtarget=='crownreset'">で</span>
          <input type="text" class="form-control" v-model="checkpointvalue" placeholder="start[:stop[:[*]step]]"
            aria-label="Text input" @keydown="(event)=>{if(event.key==='Enter')addcheckpoint()}">
          <span class="input-group-text" v-if="checkpointtarget=='levelreset' || checkpointtarget=='rankreset' || checkpointtarget=='crownreset'">
            {{ {levelreset: '段位', rankreset: '階位', crownreset: '冠位'}[checkpointtarget] }}獲得する
          </span>
          <span class="input-group-text">{{ tmoneysDesc }} </span>
          <button class="btn btn-outline-dark" type="button" @click="addcheckpoint">追加</button>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li v-for="(chkp, i) in checkpoints" class="list-group-item">
          <span>{{ checkpointmessage(chkp) }}</span>
          <button type="button" class="btn-close float-end" @click="removecheckpoint(i)"></button>
        </li>
      </ul>
    </div>

    <div class="collapse card" id="gaexpression">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">\(N\)tick 後の数</li>
        <li class="list-group-item" v-for="i in 9">{{ expression(i-1,0) }}</li>
        <li class="list-group-item" v-for="i in 8">{{ expression(i-1,1) }}</li>
      </ul>
    </div>

    <div class="collapse card" id="helpMessage">
      <div class="card-body">
        <h5 class="card-title">シミュレーション</h5>
        <p class="card-text">
          発生器と時間加速器を購入しながらシミュレーションを行っている。
          購入順は、金額の小さい順、同じなら発生器を優先、同じなら番号の大きい方を優先する。
          それ以外の条件（モード、効力、挑戦、段位効力）については、基本的に固定。
        </p>
      </div>
      <div class="card-body">
        <h5 class="card-title">挑戦シミュレーション</h5>
        <p class="card-text">
          リセット時効力切り替えが有効なら、挑戦開始時に効力5,2,1、上位効力2,1の順に買えるだけ買う。
          効力探索が有効なら、効力5と併用して使用する効力の候補として効力3,4,7,8,11,12,14の極大集合を全探索する。
          上位効力探索が有効なら、使用する上位効力の候補として上位効力4,5,7,8,10?,11,12,14の極大集合を全探索する。
          段位効力2を購入しているなら、より良い効力の組み合わせが存在することがある。
          モードは発生器iならi-1固定。
        </p>
      </div>
      <div class="card-body">
        <h5 class="card-title">誤差</h5>
        <p class="card-text">
          内部では浮動小数点数を使用しているため、誤差が発生する。
          所要ticksは（バグがなければ）ほとんどの場合、正確に求められる。
          一方、所要時間の計算は所要ticksが大きい場合に時間がかかるので近似している。
          上位効力10が有効な場合は所要ticks、所要時間ともに近似値となる。
        </p>
        <div class="input-group">
          <span class="input-group-text">1tickあたりの遅延時間</span>
          <input type="text" class="form-control" v-model.number="procmspertick" placeholder="0"
            aria-label="procmspertick">
          <span class="input-group-text">ms</span>
        </div>
      </div>
      <div class="card-body">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="spoiler" v-model="spoiler">
          <label class="form-check-label" for="spoiler">ネタバレ</label>
        </div>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/break_infinity.js/dist/break_infinity.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/katex.min.js"
    integrity="sha384-GxNFqL3r9uRJQhR+47eDxuPoNE7yLftQM8LcxzgS4HT73tp970WS/wV5p8UzCOmb"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/contrib/auto-render.min.js"
    integrity="sha384-vZTG03m+2yp6N6BNi5iM4rW4oIwk5DfcNdFfxkk9ZWpDriOkXX8voJBFrAO7MpVl" crossorigin="anonymous"
    onload="renderMathInElement(document.body);"></script>
  <script src="nig_sim.js"></script>
</body>

</html>