:root {
    --chal-width: 80vh;
}

table.chaltable {
    width: min(100%, var(--chal-width));
    border-collapse: collapse;
}
.chaltable td, .chaltable th {
    position: relative;
    border: 1px solid lightslategrey;
    padding: 0px;
}
.chaltable thead tr:first-of-type th, .chaltable tbody tr:first-of-type th, .chaltable tbody tr:first-of-type td {
    border-top: 1px solid black;
}
.chaltable tbody tr:last-of-type th, .chaltable tbody tr:last-of-type td {
    border-bottom: 1px solid black;
}
.chaltable tr th:first-of-type, .chaltable tr td:first-of-type {
    border-left: 1px solid black;
}
.chaltable tr td:last-of-type, .chaltable tr th:last-of-type, .chaltable thead tr:first-of-type th:first-of-type {
    border-right: 1px solid black;
}
.chaltable td::after, .chaltable th::after {
    content: '';
    display: block;
    width: 100%;
    margin-top: 100%;
}
td .chalcell, th .chalcell {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
    border-width: 0px;
}
.showclearedchallenge td .clearedchallenge {
    background-color: orange;
}
.showclearedchallenge td .nowchallenging {
    background-color: red;
}
td .unchallengeable {
    background-color: darkgray;
}
.chalcolor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 1;
}
.showclearedchallenge .clearedchallenge .chalcolor, .showclearedchallenge .nowchallenging .chalcolor {
    width: 80%;
    height: 80%;
    border-radius: 50%;
}
.chalcell .chaltooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    width: 18ch;
    bottom: 130%;
    left: 50%;
    margin-left: -9ch;

    position: absolute;
    z-index: 2;
}
.chalcell:hover .chaltooltip {
    visibility: visible;
}
.chalcolorbar {
    position: relative;
    height: 20px;
    width: min(100%, var(--chal-width));
    background: linear-gradient(90deg, #00ff00, #11ff52, #23ff9b, #34ffda, #46eeff, #57c2ff, #699fff, #7a86ff, #a18cff, #ca9dff, #e9afff, #ffc0ff);
}
.hidechallengecolor .chalcolor, .hidechallengecolor .chalcolorbar {
    visibility: hidden;
}
#gabought .btn-sm {
    padding: 0.25rem;
}
@media screen and (max-width: 700px) {
    td .chalcell, th .chalcell {
        font-size: small;
    }
    #controlButtons .btn {
        padding: .25rem .25rem;
        font-size: .725rem;
    }
}
.tooltipcell {
    position: relative;
}
.tooltipcell .uptooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;

    width: 28ch;
    bottom: 115%;
    left: 50%;
    margin-left: -14ch;

    position: absolute;
    z-index: 1;
}
.tooltipcell:hover .uptooltip {
    visibility: visible;
}